/node_modules
/vendor

.git
.gitattributes
.gitignore

.env
.env.*

.ai
README.md

/tests
/scripts
/phpunit.xml
.editorconfig

.idea
.vscode
.zed
.nova
.codex
.cursor
.phpactor.json
.phpunit.result.cache
.phpunit.cache
_ide_helper.php
_ide_helper_models.php
.DS_Store
Thumbs.db
*.log

docker-compose.yml
Dockerfile
.dockerignore